<h1>Donations</h1>

<%= link_to 'New Donation', new_donation_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Frequency</th>
      <th>Donation Date</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= number_to_currency(donation.amount) %></td>
        <td><%= donation.frequency %></td>
        <td><%= donation.created_at %></td>
        <td><%= donation.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
