<h1><%= @sermon.title %></h1>
<p><strong>Date:</strong> <%= @sermon.date.strftime("%B %d, %Y") %></p>
<p><strong>Video URL:</strong> <%= link_to 'Watch', @sermon.video_url, target: "_blank" %></p>
<%= link_to 'Edit', edit_sermon_path(@sermon), class: 'btn btn-warning' %> |
<%= link_to 'Back', sermons_path, class: 'btn btn-secondary' %>
