<!DOCTYPE html>
<html>
  <head>
    <title>R.A.C_church</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Rails-specific meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Rails stylesheet -->
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>
  </body>
</html>
